node_modules/
dist/

# Environment & secrets
.env
.env.*

# Logs & debugging
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Tooling output
coverage/
.nyc_output/
.prisma/

# OS metadata
.DS_Store
Thumbs.db
